<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbconstr" connectionString="Data Source=.;Initial Catalog=XingYuERPDb;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>
