<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="FACDbEntity" connectionString="server=192.168.1.143;User Id=sa;password=root;Persist Security Info=True;database=facsys"
      providerName="MySql.Data.MySqlClient"/>-->
    <add name="DbEntity" connectionString="Data Source=.;Initial Catalog=YongDb;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>
